@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

main {
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 1.1em;
    margin: 50px auto;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.364);
    width: 400px;
}
main input {
    text-align: center;
    width: 100px;
}
main select {
    font-size: 1em;
    display: block;
    margin: 10px auto;
    padding: 5px;
    width: 250px;
}
main button {
    font-weight: bold;
    margin: 10px;
    padding: 3px 10px;
}