* {
    margin: 0;
    padding: 0;
}

body {
    background-color: aliceblue;
    text-align: center;
}

h1 {
    font-size: 1.5em;
    margin: 20px;
}

section {
    background-color: white;
    margin: 20px auto;
    padding: 10px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.317);
    border-radius: 10px;
    text-align: center;
    max-width: 350px;
    min-height: 450px;
}
section img {
    display: block;
    margin: 20px auto;
}
section h2 {
    margin: 20px;
}